main {
    width:calc(100% - 240px); margin:0 auto; text-align:center;
    padding:100px 0;
}
main h1 {
    font-size:3.157rem; letter-spacing:-0.02em; 
    font-weight:500; margin-bottom:50px;
}
main .title {
    display:flex; justify-content: center;
    margin-bottom:50px;
}
main .title a {
    font-size:1.333rem; letter-spacing:-0.02em;
    display:inline-block; width:350px;
    padding:25px 0; color:#7e7e7e;
    border-bottom:2px solid #000; 
}
/* js  */
main .title .active {
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    border-left: 2px solid #000;
    border-bottom: 2px solid #fff;
    color:#000;
}

main .con {
    width:700px; margin:0 auto;
}
main .con .member {}
main .con .member #login_form {
}
main .con .member #login_form fieldset {}
main .con .member #login_form fieldset .id {
    width:100%;
    display:flex;  padding:17px 0;
    border-bottom:1px solid #000;
}
main .con .member #login_form fieldset .id img {
    margin-right:20px; width:20px; height:20px;
}
main .con .member #login_form fieldset .id #user_id {
    width:calc(100% - 40px);
    letter-spacing:-0.02em; 
}
main .con .member #login_form fieldset .pw {
    width:100%;
    display:flex;  padding:17px 0; margin-bottom:20px;
    border-bottom:1px solid #000;
}
main .con .member #login_form fieldset .pw img {
    margin-right:20px; width:20px; height:20px;
}
main .con .member #login_form fieldset .pw #user_pw {
    width:calc(100% - 40px);
    letter-spacing:-0.02em; 
}
main .con .member #login_form fieldset .check {
    display:flex; align-items:end;
    margin-bottom:50px;
}
main .con .member #login_form fieldset .check #id_storage {
    margin-right:15px;
}
main .con .member #login_form fieldset .check p {
    letter-spacing:-0.02em; color:#7e7e7e;
}
main .con .member #login_form fieldset .login_btn {
    width:100%; padding:25px 0;
    background:#000; color:#fff;
    font-size:1.333rem; letter-spacing:-0.02em;
    margin-bottom:50px;
}
main .con .member #login_form fieldset .login_btn:hover {background:#ca1d31;}
main .con .member .find {
    display:flex; justify-content:center;
    margin-bottom:50px;
}
main .con .member .find a {color:#7e7e7e; transition:all 0.3s;}
main .con .member .find a:hover {color:#000;}
main .con .member .find p {margin:0 10px;}
main .con .member .find .join {color:#ca1d31;}
main .con .member .find .join:hover {color:#ca1d31;}
main .con .member .link {
    display:flex; justify-content:center;
}
main .con .member .link a {
    display:flex; align-items:center;
    padding:0 15px;
    border-right:1px solid #000;
}
main .con .member .link a:last-child {border-right:none;}
main .con .member .link a img {margin-right:10px;}
main .con .member .link a p {letter-spacing:-0.02em;}

main .con .non_member {}
main .con .non_member #non_form {}
main .con .non_member #non_form fieldset {}
main .con .non_member #non_form fieldset .id {
    width:100%;
    display:flex;  padding:17px 0;
    border-bottom:1px solid #000;
}
main .con .non_member #non_form fieldset .id img {
    margin-right:20px; width:20px; height:20px;
}
main .con .non_member #non_form fieldset .id #user_id {
    width:calc(100% - 40px);
    letter-spacing:-0.02em; 
}
main .con .non_member #non_form fieldset .pw {
    width:100%;
    display:flex;  padding:17px 0; margin-bottom:50px;
    border-bottom:1px solid #000;
}
main .con .non_member #non_form fieldset .pw img {
    margin-right:20px; width:20px; height:20px;
}
main .con .non_member #non_form fieldset .pw #user_pw {
    width:calc(100% - 40px);
    letter-spacing:-0.02em; 
}
main .con .non_member #non_form fieldset .login_btn {
    width:100%; padding:25px 0;
    background:#000; color:#fff;
    font-size:1.333rem; letter-spacing:-0.02em;
    margin-bottom:50px;
}
main .con .non_member #non_form fieldset .login_btn:hover {background:#ca1d31;}
main .con .non_member p {
    letter-spacing:-0.02em; color:#7e7e7e;
    margin-bottom:50px; line-height:25px;
}
main .con .non_member > .join {
    display:flex; align-items:center; justify-content:space-between;
    padding:20px 0;
    border-top:1px solid #7e7e7e;
}
main .con .non_member > .join span {
    letter-spacing:-0.02em; color:#7e7e7e;
}
main .con .non_member > .join a {
    letter-spacing:-0.02em; color:#fff;
    padding:10px 20px;
    background: #ca1d31;
}
